body {
    background-color: black;
}
#generations {
    position: absolute;
    top: 0;
    left: 0;
}

#generations::before {
    content: "Generation: ";
}

.white {
    color: white;
    background-color: black;
}